<h1>Knicks Gear</h1>

<% @products.each do |product| %>
  <a href="/knicksgear/<%= product.id %>"><h2><%= product.name %></h2></a>
  <img src="<%= product.image %>">
  <h3><%= product.price %></h3>
  <p><%= product.description %></p>
<% end %>
